<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avadio.android.ilove.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:debuggable="false"
        android:allowBackup="true"
        android:icon="@drawable/inspiringlove_app_icon_heart"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="database.MyContentProvider"
            android:authorities="com.avadio.quotes.contentprovider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about_us" />
        <activity
            android:name=".DonateActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_donate" />
        <activity
            android:name=".DonateWelcomeActivity"
            android:label="@string/title_activity_donate_welcome" />
    </application>

</manifest>
